spring:
  application:
    name: travel-api

  datasource:
    url: jdbc:postgresql://localhost:5432/travel_db
    username: yys7517
    password: ""

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format-sql: true

  data:
    redis:
      host: localhost
      port: 6379

  cache:
    type: redis
    redis:
      time-to-live: 600000  # 600 000ms (10ë¶„)